@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin:0%;
    padding: 0%;
    /*background-color: #1C2343;
    opacity: 50%;*/
}

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary:#667eea;
    --color-primary:#764ba2;
    --boton-padding:20px 40px;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0 230px;
}
header {
    width: 100%;
    background-color: #1C2343;
}

#menu-btn {
    display: none;
}
header label {
    display: none;
    width: 20px; height: 30px;
    padding-left:95%;
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu li {
    text-align: center;
    flex-grow: 1;
    border-right: 4px solid #1C2343 ;
    border-left: 4px solid #1C2343;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
}
.menu li:hover {
    background: rgba(201, 190, 66, 100);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    size: 264px 63px;
    color: #1C2343;
    text-decoration: none;
}
.menu li a:hover {
    color: #fff;
}
@media (max-width:768px) {
    header {
        background-color: #fff;
    }
    header label {
        display: block;
    }
    body {
        margin: 0 8px;
    }
    .menu {
        position: absolute;
        width: 70%;
        margin-left: 100%;
        transition: all 0.5s;
        background-color: #fff;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-left: 8px solid #fff;
        border-right: 8px solid #fff;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
    }
    #menu-btn:checked ~ .menu {
        margin: 0% 30%;
    }
    .inscribirse a {
        color:#707070;
        width: 100%;
        height: 100%;
        font-size: 16px;
    }
    .inscribirse {
        background-color: #F4E649;
        width: 70%;
        padding: 50%;
        margin-left: 21%;
        border-radius: 10px;
        text-align: center;
    }
    .primera_clase{
        padding-top: 100%;
        color:#707070;
        font-size: 8px;
    }
    .banner h1 {
        padding-top: 15%;
        text-align: center;
        font-size: 300%;
        color: #fff;
    }
    .banner {
        
    display: flex;
    grid-template-columns: 0;
    grid-template-columns: repeat(0);
    }
}

.banner{
    background-color: #1C2343;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr 2fr 1fr));
    align-content: center;
 }
 .inscribirse a {
    color:#707070;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.inscribirse {
    background-color: #F4E649;
    width: 50%;
    padding: 5%;
    margin-left: 21%;
    border-radius: 10px;
    align-content: center;
}
.primera_clase{
    padding-top: 33%;
    color:#707070;
    font-size: 15px;
}
#logo_img{
    width: 160px;
    height: 191;
    padding-left: 5%;
}
.banner h1 {
    padding-top: 15%;
    text-align: center;
    font-size: 300%;
    color: #fff;
}
.ins {
    text-align: center;
}

/*MISION*/

.club_item{
    display: flex;
}

.text_mision h1{
    text-align: center;
    padding: 20px;
    padding-left: 50px;
}

.text_mision{
    width: 100%;   
    padding: 30px;
}

.text_mision p{
    text-align: justify;
    margin-left: 30px;
    color: #707070;
}

.mision_img{
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin:30px;
}

.mision_img img{
    width: 100%;
    height: 100%;
}

/*VISION*/
.club_vision{
    background-color:#1C2343;
}

.club_item2{
    display: flex;
    flex-direction: row-reverse;
}

.text_vision h1{
    text-align: center;
    padding: 20px;
    padding-right: 50px;
    color: white;
}

.text_vision{
    width: 100%;   
    padding: 30px;
}

.text_vision p{
    text-align: justify;
    margin-right: 30px;
    color:#707070;
}

.vision_img{
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin:30px;
}

.vision_img img{
    width: 100%;
    height: 100%;
}

/*OBJETIVOS*/
.Objetivos_texto{
    display: flex;
    padding: 20px;
}

.obj_GEN,.obj_esp{
    width: 100%;
    padding: 20px;
}

.obj_GEN h2,.obj_esp h2{
    text-align: center;
    padding: 20px;
}

.obj_esp p,.obj_GEN p{
    text-align: justify;
    margin: 0 10px;
    color: #707070;
}
.obj_esp li{
    padding: 5px;
}

/*historia*/

.content_histo{
    display: flex;
    justify-content: space-around;
    background-color: #1C2343;
    /*padding: 40px 0;*/
}
.historia_text{
    width: 100%;
}
#titulito{
    color:white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
#parrafo_histo{
    color: #707070;
    text-align: justify;
    padding: 10px 50px;
}
#content_imgs{
    height: 420px;
    width: 3000px;
    overflow: hidden;
    padding-right: 50px;
    margin-top: 20px;
}
.item_imgs1{
position: relative;
height: 100%;
}

.img1{
    height: 75%;
    text-align: center;
}
.flechas_uno{
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.content_img img{
    width: 100%;
    margin-top: 30px;
}
.flechas_uno img{
    height: 45%;
    /*margin-top: 20px;*/
}

/*POLITICA DE BIENESTAR*/
.PoliticasBien_Texto{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.PoliticasBien_Texto .politica{
    width: 100%;
    height: 100%;
    padding: 0 0 40px 40px;
}

.PoliticasBien_Texto .politica h2{
    text-align: center;
    padding: 20px;
    margin-left: 20px;
}
.PoliticasBien_Texto .politica p{
    text-align: justify;
}

.PoliticasBien_Texto .btn-ins{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
   
}
.PoliticasBien_Texto .btn-ins a{
    text-align: center;
    color: #764ba2;
    background-color: #F4E649;
    border-radius: 10px;
    text-decoration: none;
    padding: 20px;
    width: 25%;
}
.PoliticasBien_Texto .btn-ins h2{
    font-size: 30px;
    width: 40%;
    color:#1C2343;
    background-color: #9F9F9F;
    border-radius: 10px;
    text-align: center;
    padding:20px;
}
/*Footer*/
.pie {
    background-color: #F4E649;
    margin: 0;
    padding: 5%;
}
.contactos_text {
    color: #707070;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}
.nav_footer ul{
    flex-direction:column;
    margin: 0px 70px;
    padding: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}.nav_footer il a {
    color: #707070;
    text-decoration: none;
    font-size: 20px;
}
.contac {
    padding-left:50%;
}
.contactos {
    text-align: left;
}
.l_contactos ul{
    flex-direction: column;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
@media (max-width:829px) {
    .contac {
        padding-top: 16%;
        padding-left: 2%;
    }
}
@media (max-width:768px){
    .contac {
        padding-top: 0%;
    }
}
@media (max-width:365px){
    .contac {
        padding-top: 16%;
        padding-left: 0%;
        text-align: center;
    }
    .contactos {
        text-align: center;
    }
    .nav_footer ul{
        text-align: center;
    }
}