@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

*{
    margin:0%;
    padding: 0%;
    /*background-color: #1C2343;
    opacity: 50%;*/
}

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary:#667eea;
    --color-primary:#764ba2;
    --boton-padding:20px 40px;
}

body{
    font-family: 'Roboto', sans-serif;
}
main{
    margin: 0 230px;
}
header {
    width: 100%;
    background-color: #1C2343;
}

#menu-btn {
    display: none;
}
header label {
    display: none;
    width: 20px; height: 30px;
    padding-left:95%;
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu li {
    text-align: center;
    flex-grow: 1;
    border-right: 4px solid #1C2343 ;
    border-left: 4px solid #1C2343;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
}
.menu li:hover {
    background: rgba(201, 190, 66, 100);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    size: 264px 63px;
    color: #1C2343;
    text-decoration: none;
}
.menu li a:hover {
    color: #fff;
}

.banner{
    background-color:#1C2343;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    align-content: center;
 }
#logo_img{
    width: 160px;
    height: 191;
    padding-left: 5%;
}
.banner h1 {
    padding-top: 15%;
    text-align: center;
    font-size: 300%;
    color: #fff;
}
.ins {
    text-align: center;
}
.inscribirse a {
    color:#707070;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.inscribirse {
    background-color: #F4E649;
    width: 50%;
    padding: 5%;
    margin-left: 21%;
    border-radius: 10px;
    align-content: center;
}
.primera_clase{
    padding-top: 33%;
    color:#707070;
    font-size: 15px;
}
.cerrarsesionclub {
    position: relative;
    display: none;
    background-color:#F4E649;
    padding: 0.5%;
}
.cerrarsesionclub a{
    position: absolute;
    top: 15%;
    right: 1%;
    padding: 0.3%;
    border-radius: 10px;
    cursor: pointer;
}
.cerrarsesionclub a:hover{
   color: #fff;
   text-shadow: 0px 2px 5px #000;
}
.cerrarsesionclub h2{
   color:#e6e6e6;
   text-shadow: 2px 2px 5px rgb(102, 0, 0);
}



/*MISION*/

.editarmision {
    z-index: 1;
    top: 0%;
    display: none;
    position: absolute;
}
.editarmision label {
    padding: 0.5%;
    top: 15%;
     border-radius: 5px;
     cursor: pointer;
     background-color:#F4E649;
}
#em {
    display: none;
}

.modalm {
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    left: 80%;
    opacity: 0;
    visibility: hidden;
}
#em:checked ~ .modalm {
    opacity: 1;
    visibility: visible;
}
#em:checked ~ html {
    opacity: 70%;
    visibility: visible;
}
#contenidom {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 20px 5px #000;
    transition: all 500ms ease;
    border-radius: 10px;
    align-items: center;
    padding: 5% 0;
}
#contenidom h2{
    padding-bottom: 5%;
}
#contenidom input {
    outline: none;
    font-size: 115%;
    width: 82%;
    margin: 1%;
}
#dm {
    width: 80%;
    height: 20%;
    padding: 3%;
}
.club_mision {
    position: relative;
}

.club_item{
    display: flex;
    position: relative;
    margin: 10px;
}

#titulo_mision{
    text-align: center;
    padding: 20px;
    padding-left: 50px;
}

.text_mision{
    width: 100%;   
    margin: 30px;
}

.text_mision p{
    text-align: justify;
    margin-left: 30px;
    color: #707070;
}

.mision_img{
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin:30px;
}

.mision_img img{
    width: 100%;
    height: 100%;
}

/*VISION*/

.editarvision {
    top: 2%;
    left: 2%;
    display: none;
    position: absolute;
}
.editarvision label {
    padding: 0.5%;
    top: 15%;
     border-radius: 5px;
     cursor: pointer;
     background-color:#F4E649;
}
#ev {
    display: none;
}

.modalv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    left: 80%;
    opacity: 0;
    visibility: hidden;
}
#ev:checked ~ .modalv {
    opacity: 1;
    visibility: visible;
}
#ev:checked ~ html {
    opacity: 70%;
    visibility: visible;
}
#contenidov {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 20px 5px #000;
    transition: all 500ms ease;
    border-radius: 10px;
    align-items: center;
    padding: 5% 0;
}
#contenidov h2{
    padding-bottom: 5%;
}
#contenidov input {
    outline: none;
    font-size: 115%;
    width: 82%;
    margin: 1%;
}
#dv {
    width: 80%;
    height: 20%;
    padding: 3%;
}


.club_vision{
    position: relative;
    background-color:#1C2343;
}

.club_item2{
    display: flex;
    flex-direction: row-reverse;
}

#titulo_vision{
    text-align: center;
    padding: 20px;
    padding-right: 50px;
    color: white;
}

.text_vision{
    width: 100%;   
    padding: 30px;
}

.text_vision p{
    text-align: justify;
    margin-right: 30px;
    color:#707070;
}

.vision_img{
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin:30px;
}

.vision_img img{
    width: 100%;
    height: 100%;
}

/*OBJETIVOS*/

/* OG */
.editarog {
    top: 2%;
    left: 2%;
    display: none;
    position: absolute;
}
.editarog label {
    padding: 0.5%;
    top: 15%;
     border-radius: 5px;
     cursor: pointer;
     background-color:#F4E649;
}
#eog {
    display: none;
}

.modalog {
    z-index: 1;
    width: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    left: 65%;
    opacity: 0;
    visibility: hidden;
}
#eog:checked ~ .modalog {
    opacity: 1;
    visibility: visible;
}
#eog:checked ~ html {
    opacity: 70%;
    visibility: visible;
}
#contenidoog {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 20px 5px #000;
    transition: all 500ms ease;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 5% 0;
}
#contenidoog h2{
    padding-bottom: 5%;
}
#contenidoog input {
    outline: none;
    font-size: 115%;
    width: 82%;
    margin: 1%;
}
#dog {
    width: 80%;
    height: 20%;
    padding: 3%;
}

/* OE */
.editaroe {
    top: 2%;
    left: 55%;
    display: none;
    position: absolute;
}
.editaroe label {
    padding: 0.5%;
    top: 15%;
     border-radius: 5px;
     cursor: pointer;
     background-color:#F4E649;
}
#eoe {
    display: none;
}

.modaloe {
    width: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    left: -73.5%;
    opacity: 0;
    visibility: hidden;
}
#eoe:checked ~ .modaloe {
    opacity: 1;
    visibility: visible;
}
#eoe:checked ~ html {
    opacity: 70%;
    visibility: visible;
}
#contenidooe {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 20px 5px #000;
    transition: all 500ms ease;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 5% 0;
}
#contenidooe h2{
    padding-bottom: 5%;
}
#contenidooe input {
    outline: none;
    font-size: 115%;
    width: 82%;
    margin: 1%;
}
#doe {
    width: 80%;
    height: 20%;
    padding: 3%;
}


.Objetivos_contenedor {
    position: relative;
}

.Objetivos_texto{
    display: flex;
    padding: 20px;
}

.obj_GEN,.obj_esp{
    width: 100%;
    padding: 20px;
}

.obj_GEN h2,.obj_esp h2{
    text-align: center;
    padding: 20px;
}

.obj_esp P,.obj_GEN p{
    text-align: justify;
    margin: 0 10px;
    color: #707070;
}
.list_objs{
    padding: 5px;
}

/*historia*/

.editarhistoria {
    left: 1%;
    top: 1%;
    display: none;
    position: absolute;
}
.editarhistoria label {
    padding: 0.5%;
    top: 15%;
     border-radius: 5px;
     cursor: pointer;
     background-color:#F4E649;
}
#eh {
    display: none;
}

.modalh {
    width: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    left: 130%;
    opacity: 0;
    visibility: hidden;
}
#eh:checked ~ .modalh {
    opacity: 1;
    visibility: visible;
}
#eh:checked ~ html {
    opacity: 70%;
    visibility: visible;
}
#contenidoh {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 20px 5px #000;
    transition: all 500ms ease;
    border-radius: 10px;
    align-items: center;
    padding: 5% 0;
}
#contenidoh h2{
    padding-bottom: 5%;
}
#contenidoh input {
    outline: none;
    font-size: 115%;
    width: 82%;
    margin: 1%;
}
#dh {
    width: 80%;
    height: 20%;
    padding: 3%;
}



.content_histo{
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #1C2343;
    /*padding: 40px 0;*/
}
.historia_text{
    width: 100%;
}
#titulito{
    color:white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
#parrafo_histo{
    color: #707070;
    text-align: justify;
    padding: 10px 50px 50px;
}
/*GALERIA FOTOS*/
.galeria_tittle{
    display: none;
}
.galeria {
    width: 100%;
    margin: 6.6% 16% 0 0;
}
.galeria__content {
    height: 30%;
    width: 50%;
    padding: 76%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    overflow: hidden;
    position: relative;
}

.galeria__slide {
    position: absolute;
    height: 100%;
    width: 100%;
}

.galeria__img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    opacity: 0;
    transition: all 0.5s;
}

.galeria__buttons {
    position: absolute;
    z-index:1;
    padding-top:16px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.galeria__btn--left,
.galeria__btn--right {
    align-self: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.galeria__btn--left img,
.galeria__btn--right img{
    padding-top:50% ;
    width: 30px;
}
.galeria__img--visible {
    opacity: 1 !important;
}

/*POLITICA DE BIENESTAR*/

.editarpb {
    left: 2%;
    top: 2%;
    display: none;
    position: absolute;
}
.editarpb label {
    padding: 0.5%;
    top: 15%;
     border-radius: 5px;
     cursor: pointer;
     background-color:#F4E649;
}
#epb {
    display: none;
}

.modalpb {
    width: 170%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 120%;
    opacity: 0;
    visibility: hidden;
}
#epb:checked ~ .modalpb {
    opacity: 1;
    visibility: visible;
}
#epb:checked ~ html {
    opacity: 70%;
    visibility: visible;
}
#contenidopb {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 20px 5px #000;
    transition: all 500ms ease;
    border-radius: 10px;
    align-items: center;
    padding: 5% 0;
}
#contenidopb h2{
    padding-bottom: 5%;
}
#contenidopb input {
    outline: none;
    font-size: 115%;
    width: 82%;
    margin: 1%;
}
#dpb {
    width: 80%;
    height: 20%;
    padding: 3%;
}


.PoliticasBien_Texto{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.PoliticasBien_Texto .politica{
    width: 100%;
    height: 100%;
    padding: 0 0 40px 40px;
}

.PoliticasBien_Texto .politica h2{
    text-align: center;
    padding: 20px;
    margin-left: 20px;
}
.PoliticasBien_Texto .politica p{
    text-align: justify;
}

.PoliticasBien_Texto .btn-ins{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
   padding-bottom: 45px;
}
.PoliticasBien_Texto .btn-ins a{
    text-align: center;
    color: #764ba2;
    background-color: #F4E649;
    border-radius: 10px;
    text-decoration: none;
    padding: 20px;
    width: 25%;
}
.PoliticasBien_Texto .btn-ins h2{
    font-size: 30px;
    width: 40%;
    color:#1C2343;
    background-color: #9F9F9F;
    border-radius: 10px;
    text-align: center;
    padding:20px;
}

/*Footer*/
.pie {
    background-color: #F4E649;
    margin: 0;
    padding: 5%;
}
.contactos_text {
    color: #707070;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}
.nav_footer ul{
    flex-direction:column;
    margin: 0px 70px;
    padding: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}.nav_footer il a {
    color: #707070;
    text-decoration: none;
    font-size: 20px;
}
.contac {
    padding-left:50%;
}
.contactos {
    text-align: left;
}
.l_contactos ul{
    flex-direction: column;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
@media (max-width:829px) {
    .contac {
        padding-top: 16%;
        padding-left: 2%;
    }
}
@media (max-width:768px){
    .contac {
        padding-top: 0%;
    }
}
@media (max-width:365px){
    .contac {
        padding-top: 16%;
        padding-left: 0%;
        text-align: center;
    }
    .contactos {
        text-align: center;
    }
    .nav_footer ul{
        text-align: center;
    }
}
@media (max-width:768px) {
    header {
        background-color: #fff;
    }
    header label {
        display: block;
    }
    main {
        margin: 0 8px;
        overflow: hidden;
    }
    .menu {
        z-index: 1;
        position: absolute;
        width: 70%;
        Top: 0;
        left: 30%;
        transform: translateY(-100%);
        background-color: #fff;
        transition: all 250ms ease-in;
    }
    .menu ul {
        position: relative;
        flex-direction: column;
    }
    .menu li {
        position: relative;
        border-left: 8px solid #fff;
        border-right: 8px solid #fff;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
    }
    #menu-btn:checked ~ .menu {
        transform:translateY(15%);
    }
    .primera_clase{
        padding-top: 0%;
        color:#707070;
        font-size: 20px;
    }
    .banner h1 {
        /*grid-column: 1 / 4;*/
        padding-top: 0%;
        text-align: center;
        font-size: 300%;
        color: #fff;
    }
    #logo_img{
        /*grid-column: 1 / 2;*/
        width: 100px;
        height: 115;
        padding-left: 30%;
    }
    .inscribirse a {
        color:#707070;
        width: 100%;
        height: 100%;
        font-size: 20px;
        /*grid-column: 2 / 3;*/
    }
    #inscribirse {
        position: absolute;
        width: 16%;
        padding: 2%;
        margin-left: 0;
        border-radius: 10px;
        align-content: center;
        /*grid-column: 2 / 3;*/
    }
    /*mision*/
    .text_mision{
        padding: 0;
        margin: 0%;
    }
    .text_mision p{
        margin-left: 0%;
        text-align: justify;
        width: 100%;
    }
    .mision_img{
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0;
    }
    .club_item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .mision_img{
        width: 100%;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0;
    }
    /*vision*/
    .text_vision{
        padding: 0;
    }
    .club_vision{
        padding-bottom: 10%;
    }
    .club_item2{
        flex-direction: column;
        justify-content: space-around;
        padding: 0%;
    }
    .parra_vision{
        text-align: justify;
        width: 100%;
    }
    .vision_img{
        width: 100%;
        height: 100%;
        padding: 20px 0px;
        margin: 0;
    }
    /*objetivos*/
    .Objetivos_texto{
        flex-direction: column;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .obj_GEN,.obj_esp{
        flex-direction: column;
        justify-content: space-around;
        padding: 0px;
    }
    .Obj_G_parra{
        width: 100%;
        height: 100%;
        text-align: justify;
        width: 100%;
    }
    .Obj_E_parra{
        width: 100%;
        height: 100%;
        text-align: justify;
        width: 100%;
    }
    /*historia*/

    .content_histo{
        flex-direction: column;
        padding: 0;
    }
    #parrafo_histo{
        color: #707070;
        text-align: justify;
        padding: 10px 16px 50px;
    }
    .galeria {
        width: 100%;
        height: 700px;
        margin: 6.6% 16% 0 0;
    }
    .galeria__content {
        height: 100%;
        width: 100%;
        top:-330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        overflow: hidden;
        position: relative;
    }
    
    .galeria__slide {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    
    .galeria__img {
        position: absolute;
        top: 0%;
        left: 20%;
        transform: translate(-50%, -50%);
        max-width: 36%;
        opacity: 0;
        transition: all 0.5s;
    }
    
    .galeria__buttons {
        position: absolute;
        top:0;
        left: 4%;
        padding: 0%;
        height: 100%;
        width:32%;
        display: flex;
        justify-content: space-between;
    }
    
    .galeria__btn--left,
    .galeria__btn--right {
        align-self: left;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
    }
    .galeria__btn--left img,
    .galeria__btn--right img {
        width: 50px;
    }
    
    .galeria__img--visible {
        opacity: 1 !important;
    }
    /*politicas de bienestar*/
    .PoliticasBien_Texto{
        flex-direction: column;;
        padding: 0px;
    }
    .PoliticasBien_Texto .politica{
        width: 100%;
        height: 100%;
        padding: 0;
    }
}
@media (max-width:415px){
    .primera_clase{
        padding-top: 0;
        color:#707070;
        font-size: 13px;
        padding-right: 10%;
    }
    .banner h1 {
        padding-top: 0%;
        text-align: center;
        font-size: 300%;
        color: #fff;
    }
    #logo_img{
        width: 80px;
        height: 95;
        padding-left: 5%;
    }
    .inscribirse a {
        color:#707070;
        width: 100%;
        height: 100%;
        font-size: 13px;
    }
    #inscribirse {
        position: absolute;
        width: 16%;
        padding: 3%;
        margin-left: 0;
        border-radius: 10px;
        align-content: center;
    }
    /*historia*/
    .content_histo{
        flex-direction: column;
        padding-bottom: 10%;
    }
    #parrafo_histo{
        color: #707070;
        text-align: justify;
        padding: 10px 10px 50px;
    }
    .galeria {
        width: 100%;
        height: 350px;
        margin: 6.6% 16% 0 0;
    }
    .galeria__content {
        height: 100%;
        width: 100%;
        top:-150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        overflow: hidden;
        position: relative;
    }
    
    .galeria__slide {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    
    .galeria__img {
        position: absolute;
        top: 0%;
        left: 20%;
        transform: translate(-50%, -50%);
        max-width: 36%;
        opacity: 0;
        transition: all 0.5s;
    }
    
    .galeria__buttons {
        position: absolute;
        top:30;
        left: 2%;
        padding: 0%;
        height: 100%;
        width:35%;
        display: flex;
        justify-content: space-between;
    }
    
    .galeria__btn--left,
    .galeria__btn--right {
        align-self: left;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
    }
    .galeria__btn--left img,
    .galeria__btn--right img{
    width: 30px;
    }
    .galeria__img--visible {
        opacity: 1 !important;
    }
}
@media (width:1024px) {
    main {
        margin: 0 25px;
    }
    #mapa {
        width:50;
    }
    #calendario {
        width:320; 
    }
    .inflex #primera_clasef {
        margin-left: 75.6%;
        margin-top: -20%;
    }
    #inscribirsef {
        margin-left: 76.5%;
    }
    .galeria {
        width: 100%;
        height: 330px;
        margin: 3% 16% 0 0;
    }
}