@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
    margin:16;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: #1C2343;
}

#menu-btn {
    display: none;
}
header label {
    display: none;
    width: 20px; height: 30px;
    padding-left:95%;
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu li {
    text-align: center;
    flex-grow: 1;
    border-right: 4px solid #1C2343 ;
    border-left: 4px solid #1C2343;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: #fff;
}
.menu li:hover {
    background: rgba(201, 190, 66, 100);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    size: 264px 63px;
    color: #1C2343;
    text-decoration: none;
}
.menu li a:hover {
    color: #fff;
}

@media (max-width:768px) {
    header {
        background-color: #fff;
    }
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        width: 70%;
        margin-left: 100%;
        transition: all 0.5s;
        background-color: #fff;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-left: 8px solid #fff;
        border-right: 8px solid #fff;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
    }
    #menu-btn:checked ~ .menu {
        margin: 0% 30%;
    }
    
}
#logo_img{
    width: 50%;
    height: 50%;
    align-content: center;
}

.banner{
    background-color: #1C2343;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.inscribirse a {
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.inscribirse {
    background-color: #F4E649;
    width: 20%;
    padding: 2%;
    border-radius: 10px;
    margin: 0 auto;
}

.conten_galery{
    position:relative;
    height: 200px;
}
.imgs{
    background-color: #7f8ecf;
    height: 100%;
}
.flechas{
    background-color: #F4E649;
    position: absolute;
    bottom: 0;    
    height: 10%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}
