@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin:0%;
    padding: 0%;
}
html{
    scroll-behavior:smooth;
}

body {
    margin: 0 230px;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: #1C2343;
}

#menu-btn {
    display: none;
}
header label {
    display: none;
    width: 20px; height: 30px;
    padding-left:95%;
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu li {
    text-align: center;
    flex-grow: 1;
    border-right: 4px solid #1C2343 ;
    border-left: 4px solid #1C2343;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
}
.menu li:hover {
    background: rgba(201, 190, 66, 100);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    size: 264px 63px;
    color: #1C2343;
    text-decoration: none;
}
.menu li a:hover {
    color: #fff;
}

@media (max-width:768px) {
    header {
        background-color: #fff;
    }
    header label {
        display: block;
    }
    body {
        margin: 0 8px;
    }
    .menu {
        position: absolute;
        width: 70%;
        margin-left: 100%;
        transition: all 0.5s;
        background-color: #fff;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-left: 8px solid #fff;
        border-right: 8px solid #fff;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
    }
    #menu-btn:checked ~ .menu {
        margin: 0% 30%;
    }
}
#logo_img{
    width: 50%;
    height: 50%;
    align-content: center;
}

.banner{
    background-color: #1C2343;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.categoria_prod {
    width: 245px;
}
.logo_ropa {
    width: 172px;
}
.logo_accesorios {
    width: 172px;
}
.logo_patines {
    width: 123px;
}

.inscribirse a {
    color:#707070;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.inscribirse {
    background-color: #F4E649;
    width: 20%;
    padding: 2%;
    border-radius: 10px;
    margin: 0 auto;
}

.galeria{
    background-color: #1C2343;
    position: relative;
}


#content_imgs{
    height: 600px;
    width: 40%;
    overflow: hidden;
    margin: 0 auto;
}
.item_imgs1{

height: 100%;
position: relative;
}

.img1{
    height: 75%;
    text-align: center;
}

.galeria_tittle{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}

.flechas_uno{
    padding-top: 15px;
    position: absolute;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C2343;
    transition: all 0.05s;
}


.content_img img{
    height: 100%;
    width: 100%;
    transition: opacity .5s;
}
@media(max-width:430px){
    #content_imgs{
        height: 300px;
    }
    .flechas_uno img{
        margin: 0 auto;
        height: 40px;
        width: 30px;
    }
    .flechas_uno{
        padding-top: 10px;
    }
}
.inflex h1 {
    color:#1C2343;
    background-color: #9F9F9F;
    width: 100px;
    padding: 0 40px;
    border-radius: 20px;
    margin-left: 75%;
    margin-top: -15%;
}
#inscribirsef {
    color:#707070;
    background-color: #F4E649;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 76.5%;
}
.pie {
    background-color: #F4E649;
    margin: 0;
    padding: 5%;
}
.l_contactos ul{
    flex-direction: column;
    margin: 0 50px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.cmr {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}
.inflex {
    padding: 0;
    flex: 1;
}
.inflex :first-child {
    padding: 0;
    flex: 2;
}

@media (max-width:1173px) {
    .inflex h1 {
        color:#1C2343;
        background-color: #9F9F9F;
        width: 100px;
        padding: 0 40px;
        border-radius: 20px;
        margin: 0 auto;
    }
    #inscribirsef {
        color:#707070;
        background-color: #F4E649;
        width: 100px;
        padding: 20px;
        border-radius: 10px;
        margin: 0 auto;
    }
}