@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

*{
    margin:0%;
    padding: 0%;
}

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary:#667eea;
    --color-primary:#764ba2;
    --boton-padding:20px 40px;
}

body{
    font-family: 'Roboto', sans-serif;
}
main{
    margin: 0 230px;
}
header {
    width: 100%;
    background-color: #1C2343;
}

#menu-btn {
    display: none;
}
header label {
    display: none;
    width: 20px; height: 30px;
    padding-left:95%;
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu li {
    text-align: center;
    flex-grow: 1;
    border-right: 4px solid #1C2343 ;
    border-left: 4px solid #1C2343;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
}
.menu li:hover {
    background: rgba(201, 190, 66, 100);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    size: 264px 63px;
    color: #1C2343;
    text-decoration: none;
}
.menu li a:hover {
    color: #fff;
}

.banner{
    background-color: #1C2343;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    align-content: center;
 }
#logo_img{
    width: 160px;
    height: 191;
    padding-left: 5%;
}
.banner h1 {
    padding-top: 15%;
    text-align: center;
    font-size: 300%;
    color: #fff;
}
.ins {
    text-align: center;
}
.inscribirse a {
    color:#707070;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.inscribirse {
    background-color: #F4E649;
    width: 50%;
    padding: 5%;
    margin-left: 21%;
    border-radius: 10px;
    align-content: center;
}
.primera_clase{
    padding-top: 33%;
    color:#707070;
    font-size: 15px;
}

.cerrarsesion {
    position: relative;
    display: none;
    background-color:#F4E649;
    padding: 0.5%;
}
.cerrarsesion a{
    position: absolute;
    top: 15%;
    right: 1%;
    padding: 0.3%;
    border-radius: 10px;
    cursor: pointer;
}
.cerrarsesion a:hover{
   color: #fff;
   text-shadow: 0px 2px 5px #000;
}
.cerrarsesion h2{
   color:#e6e6e6;
   text-shadow: 2px 2px 5px rgb(102, 0, 0);
}





/* IMAGENES*/

/*producto 1*/
.editarp1 {
    display: none;
}
.editarp1 label {
    padding: 0.5%;
    top: 15%;
     border-radius: 5px;
     cursor: pointer;
     background-color:#F4E649;
}
#ep1 {
    display: none;
}

.modalp1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
#ep1:checked ~ .modalp1 {
    opacity: 1;
    visibility: visible;
}
#ep1:checked ~ html {
    opacity: 70%;
    visibility: visible;
}
#contenidop1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 20px 5px #000;
    transition: all 500ms ease;
    border-radius: 10px;
    align-items: center;
    padding: 5% 0;
}
#contenidop1 h2{
    padding-bottom: 5%;
}
#contenidop1 input {
    outline: none;
    font-size: 115%;
    width: 82%;
    margin: 1%;
}
#dp1 {
    width: 80%;
    height: 20%;
    padding: 3%;
}

/*producto 2*/
.editarp2 {
    display: none;
}
.editarp2 label {
    padding: 0.5%;
    top: 15%;
     border-radius: 5px;
     cursor: pointer;
     background-color:#F4E649;
}
#ep2 {
    display: none;
}

.modalp2 {
    width: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
#ep2:checked ~ .modalp2 {
    opacity: 1;
    visibility: visible;
}
#ep2:checked ~ html {
    opacity: 70%;
    visibility: visible;
}
#contenidop2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 20px 5px #000;
    transition: all 500ms ease;
    border-radius: 10px;
    align-items: center;
    padding: 5% 0;
}
#contenidop2 h2{
    padding-bottom: 5%;
}
#contenidop2 input {
    outline: none;
    font-size: 115%;
    width: 82%;
    margin: 1%;
}
#dp2 {
    width: 80%;
    height: 20%;
    padding: 3%;
}

/*producto 3*/
.editarp3 {
    display: none;
}
.editarp3 label {
    padding: 0.5%;
    top: 15%;
     border-radius: 5px;
     cursor: pointer;
     background-color:#F4E649;
}
#ep3 {
    display: none;
}

.modalp3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
#ep3:checked ~ .modalp3 {
    opacity: 1;
    visibility: visible;
}
#ep3:checked ~ html {
    opacity: 70%;
    visibility: visible;
}
#contenidop3 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 20px 5px #000;
    transition: all 500ms ease;
    border-radius: 10px;
    align-items: center;
    padding: 5% 0;
}
#contenidop3 h2{
    padding-bottom: 5%;
}
#contenidop3 input {
    outline: none;
    font-size: 115%;
    width: 82%;
    margin: 1%;
}
#dp3 {
    width: 80%;
    height: 20%;
    padding: 3%;
}

/*producto 4*/
.editarp4 {
    display: none;
}
.editarp4 label {
    padding: 0.5%;
    top: 15%;
     border-radius: 5px;
     cursor: pointer;
     background-color:#F4E649;
}
#ep4 {
    display: none;
}

.modalp4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
#ep4:checked ~ .modalp4 {
    opacity: 1;
    visibility: visible;
}
#ep4:checked ~ html {
    opacity: 70%;
    visibility: visible;
}
#contenidop4 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 20px 5px #000;
    transition: all 500ms ease;
    border-radius: 10px;
    align-items: center;
    padding: 5% 0;
}
#contenidop4 h2{
    padding-bottom: 5%;
}
#contenidop4 input {
    outline: none;
    font-size: 115%;
    width: 82%;
    margin: 1%;
}
#dp4 {
    width: 80%;
    height: 20%;
    padding: 3%;
}

/* IMAGENES*/

.container{
    margin-top: 110px;
    margin-left: 82px;
    margin-right: 82px;
    margin-bottom: 67px;    
}
.fila{
    display: flex;
    justify-content: space-between;
}
.fila img{
    padding: 20px;
    width: 88%;
    border:20px transparent ;
}
.item_container{
    position: relative;
    padding:0 0 20px 0;
}
.item_container p{
    color:#707070;
    background-color:#FFDBDB;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.item_container h2{
    background-color:#FFDBDB;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.texto {
    padding: 20px;
    text-align: left;
    margin: 20px;
    background-color:#FFDBDB;
    border-radius: 20px;
}


/*FINAL*/
#final {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.btn-ins{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
   padding-bottom: 45px;
}
.btn-ins a{
    text-align: center;
    color: #764ba2;
    background-color: #F4E649;
    border-radius: 10px;
    text-decoration: none;
    padding: 20px;
    width: 25%;
}
.btn-ins h2{
    font-size: 30px;
    width: 40%;
    color:#1C2343;
    background-color: #9F9F9F;
    border-radius: 10px;
    text-align: center;
    padding:20px;
}

.galeria__buttons {
    justify-content: center;
    width: 90%;
    height: 10%;
    display: flex;
    
}

.galeria__btn--left,
.galeria__btn--right {
    margin-top: 100%;
    align-self: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

/*Footer*/
.pie {
    background-color: #F4E649;
    margin: 0;
    padding: 5%;
}
.contactos_text {
    color: #707070;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}
.nav_footer ul{
    flex-direction:column;
    margin: 0px 70px;
    padding: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}.nav_footer il a {
    color: #707070;
    text-decoration: none;
    font-size: 20px;
}
.contac {
    padding-left:50%;
}
.contactos {
    text-align: left;
}
.l_contactos ul{
    flex-direction: column;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
@media (max-width:829px) {
    .contac {
        padding-top: 16%;
        padding-left: 2%;
    }
}
@media (max-width:768px){
    .contac {
        padding-top: 0%;
    }
}
@media (max-width:365px){
    .contac {
        padding-top: 16%;
        padding-left: 0%;
        text-align: center;
    }
    .contactos {
        text-align: center;
    }
    .nav_footer ul{
        text-align: center;
    }
    .btn-ins a{
        font-size: 8px;
    }
}

@media (max-width:768px) {
    header {
        background-color: #fff;
    }
    header label {
        display: block;
    }
    main {
        margin: 0 8px;
        overflow: hidden;
    }
    .menu {
        z-index: 1;
        position: absolute;
        width: 70%;
        Top: 0;
        left: 30%;
        transform: translateY(-100%);
        background-color: #fff;
        transition: all 250ms ease-in;
    }
    .menu ul {
        position: relative;
        flex-direction: column;
    }
    .menu li {
        position: relative;
        border-left: 8px solid #fff;
        border-right: 8px solid #fff;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
    }
    #menu-btn:checked ~ .menu {
        transform:translateY(15%);
    }
    .primera_clase{
        padding-top: 0%;
        color:#707070;
        font-size: 15px;
    }
    .banner h1 {
        /*grid-column: 1 / 4;*/
        padding-top: 0%;
        text-align: center;
        font-size: 300%;
        color: #fff;
    }
    #logo_img{
        /*grid-column: 1 / 2;*/
        width: 100px;
        height: 115;
        padding-left: 30%;
    }
    .inscribirse a {
        color:#707070;
        width: 100%;
        height: 100%;
        font-size: 14px;
        /*grid-column: 2 / 3;*/
    }
    #inscribirse {
        position: absolute;
        width: 16%;
        padding: 2%;
        margin-left: 0;
        border-radius: 10px;
        align-content: center;
        /*grid-column: 2 / 3;*/
    }
}
@media (max-width:414px) {
    .container{
        margin:0;   
    }
    .fila {
        flex-direction: column;
    }
    .btn-ins h2{
        font-size: 20px;
    }
    .btn-ins a{
        font-size: 13px;
        width: 60px;
    }
}